replicaCount: 1

service:
  type: ClusterIP
  port: 5044

logstashConfig:
  logstash.yml: |
    http.host: "0.0.0.0"
    pipeline.ecs_compatibility: disabled

logstashPipeline:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    filter { }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch-master:9200"]
        manage_template => false
        index => "app-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi
