[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  ignore = "exit 0"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200